[submodule "3rdparty/PAROAtten"]
	path = 3rdparty/PAROAtten
	url = https://github.com/jamescsq47/PAROAtten.git
[submodule "3rdparty/sparge_customize"]
	path = 3rdparty/sparge_customize
	url = https://github.com/jamescsq47/sparge_customize.git