name: db-sp  
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10               
  - pytorch                
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8        
  - numpy                    
  - mpi4py                 
  - pip                  
  - pip:
      - -r requirements.txt  